#div1 {
    font-size: 18px;
    background-color: aqua;
}
#div2 {
    font-size: 18px;
    background-color: green;
}
#div3 {
    font-size: 18px;
    background-color: pink;
}

div:hover {
    font-weight: bold;
}