body {
    background-color: #BCBEC5;
}
h1 {
    text-align: center;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar{
    margin-bottom: 0;
    outline: #373D51;
}
.jumbotron {
    margin-bottom: 0;
    background-color: #373D51;
    
}
  